<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <style>
            body{
                background-color: black;
                font-family: 'Roboto Slab', serif;
            }
            #title{
                margin: auto;
                width: 100%;
                text-align: center;
                margin-top: 4%;
                font-size: 20px;
            }
            h1{
                font-size: 50px;
            }
            #sign-in{
                position: fixed;
                bottom: 0;
                left: 50%;
                transform: translate(-50%);
                text-align: center;
                background-color: black;
                width: 100%;
                padding-top: 10px;
                font-size: 18px;
            }
            img{
                border-style: solid;
                border-width: 2px;
                border-radius: 10px;
            }
            #examples{
                margin-top: 100px;
                margin-bottom: 200px;
            }

            #examples div{
                font-size: 25px;
                width: 340px;
                text-align: center;
            }
            button{
                margin-bottom: 30px;
            }
            .btn{
                width: 200px;
                height: 80px;
                font-size: 25px;
            }
            .col-centered{
                float: none;
                margin: 0 auto;
            }
            
        </style>
    </head>
<body>
<div id="title">
    <h1 class="text-success">Playlist to Live</h1>
    <p class="text-success">Listen to your favorite songs, live!</p>
</div>
<div class="container">
<div id="examples" class="row">
    <div class="col-lg-4 col-md-10 col-centered">
        <p class="text-success">Sign-In to Spotify</p>
        <!-- replace this image -->
        <img class="border-success" id="img1" src="images/spotify2.png">
    </div>
    <div class="col-lg-4 col-md-8 col-centered">
        <p class="text-success">Choose Your Playlist</p> 
       <img class="border-success" id="img2" src="images/playlists2.png"> 
    </div>
    <div class="col-lg-4 col-md-8 col-centered">
        <p class="text-success">Listen!</p>
        <img class="border-success" id="img3" src="images/live2.png">
    </div>
</div>
</div>
<div id="sign-in">
   <button onclick=location.href='http://playlist2.live/login' type="button" class="btn btn-success">Listen Now</button>
   <p class="text-success">Note: Sign-in is handled through Spotify. Playlist to Live does not access your Spotify username or password.</p> 
</div>
</body>
</html>
