<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <style>
      #player{
        margin-top: 100px;
        margin-bottom: 200px;
        margin-left: 50%;
        transform: translate(-50%);
        border-style: solid;
        border-width: 10px;
        border-radius: 10px;
        
      }
      h1{
        margin: auto;
        width: 50%;
        text-align: center;
        margin-top: 4%;
        font-size: 50px;
      }
      body{
        background-color: black;
        font-family: 'Roboto Slab', serif;
      }
      p{
        margin-top: 20px;
        font-size: 18px;
      }
      .btn{
                height: 80px;
                font-size: 25px;
            }
      #info{
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        background-color: black;
        width: 100%;
        padding-top: 10px;
      }
    </style>
  </head>
  <body>
    <h1 class="text-success">Your Playlist, Live!</h1>
    <div id="player" class="border-success"></div>
    <div id="info">
      <button onclick=location.href='http://playlist2.live/login' type="button" class="btn btn-success">Choose new playlist</button>
      <p class="text-success">Note: Studio versions will play if our search terms did not find a live video</p>
    </div>
   
    <% if (youtubePlaylist) { %>
      <script>
         let playlist = JSON.parse('<%- JSON.stringify(youtubePlaylist) %>');
          // Code from Youtube.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          events: {
            'onReady': cuePlaylist
            
          }
        });
      }
      function cuePlaylist(){
        player.cuePlaylist({
        playlist:  playlist
        });
        event.target.playVideo();
      }
      </script>
   <% } %>
  </body>
</html>