<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <style>
            
            #playlists{
                margin: auto;
                margin-top: 15vh; 
            }
            li{
                list-style: none;
                height: 175px;
                margin-bottom: 10px;
                width: 200px; 
            }
            #title{
                position: fixed;
                top: 0;
                right: 0;
                margin: auto;
                width: 100%;
                text-align: center;
                color: white;
                height: 95px;
                padding-top: 1%;
                z-index:1;
            }
                
            body{
                background-color: black;
                font-family: 'Roboto Slab', serif;
            }
            button{
                margin: 5px;
                height: 100%;
                width: 200px;    
            }
            #playlistNames{
                width: 200px;
                margin-right: 20px;
            }
            .btn{
                white-space:normal !important;
                word-wrap: break-word; 
                overflow: hidden;
                display: block;
                border-radius: 15px;
                font-size: 20px;                     
            }
            

        </style>
            
    </head>
<body>
    <script>
    function playlistSelected(id){
    $.ajax({
        type: 'GET', 
        url: "http://playlist2.live/playlist/" + id 
    });
    location.href='http://playlist2.live/loading/'
    
    }
    </script>
    <div id="title" class="bg-success">
       <h1>Your Top 50 Playlists</h1> 
    </div>
    <div class="container">
        <div id="playlists" class="row">
            <% playlistInfo.forEach(function(playlist){ %>
            <div id="playlistNames" class="col-lg-auto">
                <li id="<%= playlist['id'] %>" onclick="playlistSelected(id)"><button type="button" class="btn btn-success" ><%= playlist["name"] %></button></li>
            </div>
            <% })   %>
        </div>
    </div>
        
            
           
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>            
</body>
</html>

